*{
	margin:0;
	padding:0;
}

*,*:after,*:before{
	-webkit-box-sizing:border-box;
}

.full{
	width:100%;
	height:100%;
}

html{
   font-size:62.5%;	
}

html,body,.container{
	width:100%;
	height:100%;
}

header{
	height:2.5rem;
}

.content{
	padding:0 .8rem;
}

.wrapper{
	border:1px solid #ccc;
	font:{
	   size:14px;
	   family:"Microsoft YaHei";
	}
}

.menu{
	height:4rem;
	border-bottom:1px solid #ccc;
	padding:0 1rem;
	display:-webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient:horizongtal;
	&:last-child{
	  border-bottom:none;
	}
	.title{
	   line-height:4rem;
	   width:4.5rem;
	}
	.select{
	   display:-webkit-box;
	   -webkit-box-flex:1;
	   .input{
	      -webkit-box-flex:1;
	      position:relative;
	      label{
	         display:inline-block;
	         width:100%;
	         height:2.8rem;
	         margin-top:.6rem;
	         line-height:2.8rem;
	         background:#eaeaea;
	         text-indent:.8rem;
	         position:relative;
	         &:after{
	            content:"";
                position:absolute;
                width:0;
                height:0;
                overflow:hidden;
                border:7px solid transparent;
                border-top-color:#aaa;
                right:.7rem;
                top:1.1rem;
	         }
	      }
	      &:last-child{
	         margin-left:1rem;
	         visibility:hidden;
	      }
	      select{
	         width:100%;
	         height:100%;
	         position:absolute;
	         left:0;
	         top:0;
	         outline:none;
	         -webkit-appearance:menelist; 
	         opacity:0;
	      }
	   }
	}
}