*{
	margin:0;
	padding:0;
}
#main{
	position: relative;
}
.box{
	float: left;
	padding: 15px 0 0 15px;
}
.pic{
	border:1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	padding: 10px;
}
.pic img{
	width:168px;
}